@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap");

:root {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  --palette-color-violette: #581b98;
  --palette-color-violette-light: #9c1de7;
  --palette-color-yellow: #faee1c;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--palette-color-yellow);
  color: var(--palette-color-violette);
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem 20px 1rem;
}

.container + .container {
  border-top: 1px solid var(--palette-color-violette);
}

.main-heading {
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
}

.play-area {
  --player-info-font-size: 2.5rem;
  display: grid;
  grid-template-areas:
    "round-area round-area"
    "player-name-area player-wins-area"
    "player-button-area player-button-area"
    "computer-button-area computer-button-area"
    "computer-name-area computer-wins-area";
  grid-template-columns: 1fr 2fr;
  position: relative;
  overflow: hidden;
}

.round-container {
  display: flex;
  grid-area: round-area;
  align-items: center;
}

.round-label {
  font-size: 1rem;
}

.round {
  margin-left: 10px;
}

.player-name-area {
  grid-area: player-name-area;
}

.computer-name-area {
  grid-area: computer-name-area;
}

.player-name {
  font-size: var(--player-info-font-size);
}

.player-wins-area {
  grid-area: player-wins-area;
}

.computer-wins-area {
  grid-area: computer-wins-area;
}

.player-wins {
  font-size: var(--player-info-font-size);
}

.player-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.player-button-area {
  grid-area: player-button-area;
}

.computer-button-area {
  grid-area: computer-button-area;
}

.play-btn {
  --btn-size: calc(25vw);
  background-color: var(--palette-color-violette-light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  margin: 0;
  padding: 0;
  width: var(--btn-size);
  height: var(--btn-size);
  transition: all 1s;
}

.play-btn i {
  font-size: calc(0.66 * var(--btn-size));
}

.player-btn {
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
}

.computer-btn {
  border: 3px solid #bbb;
  color: #aaa;
}

.winner-btn {
  background-color: green;
  border: 3px solid green;
  box-shadow: 0 0 30px green;
}

.loser-btn {
  background-color: red;
  border: 3px solid red;
  box-shadow: 0 0 30px red;
}

.tie-btn {
  background-color: #666;
  border: 3px solid #666;
  box-shadow: 0 0 30px #666;
}

.new-game-btn {
  background-color: var(--palette-color-violette-light);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  padding: 0.5rem 0.9rem;
}

.result {
  font-size: 10rem;
  line-height: 9rem;
  left: 10%;
  position: absolute;
  transform: rotateZ(20deg);
}

.result-player {
  top: 13%;
}

.result-computer {
  top: 63%;
}

.winner {
  color: green;
  text-shadow: 0 0 40px green;
}

.tie {
  color: #ccc;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  top: 40%;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 520px) and (max-width: 550px) {
  .play-area {
    --player-info-font-size: 3.5rem;
  }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
  .play-area {
    --player-info-font-size: 4.5rem;
  }
}

@media only screen and (min-width: 701px) {
  .play-area {
    --player-info-font-size: 3rem;
    grid-template-columns: 3fr 0.5fr 5fr;
    grid-template-areas:
      "round-area round-area round-area"
      "player-name-area player-wins-area player-button-area"
      "computer-name-area computer-wins-area computer-button-area";
  }

  .play-btn {
    --btn-size: calc(15vw);
  }
}
